$colores: (
    principal: $color-principal,
    secundario: $secondary-color,
    detalles: $color-detalles,
    fondo-footer-navbar: $color-fondo-footer-navbar,
    botones: $color-fondo-boton,
    sombra: $shadow,
    color-titulos-textos: $color-texto,
    borde-footer: $footer-border-color,
);

$tipografias: (
    principal: $tipografia-principal,
    titulos: $titulos
);