body {
    background: rgb(235, 225, 225);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
} 

body::before{
    content:' ' ;
    position: absolute;
    height: 100%;
    width: 100%;
}

// home
.home {
    @include fondo(
        '../../assets/img/background.jpg',
        center 65%, 
        cover, 
        fixed 
    );
    height: 100vh;

    .contenido {
        display: flex;
        height: 85%;
        z-index: 3;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;

        h1 {
            font-family: $titulos;
            font-size: 3.75rem;
            font-weight: 700;
            margin-bottom: 10px;
            color: $color-titulos;
        }

        .texto {
            margin-bottom: 50px;
            font-family: $tipografia-principal;
            color: $color-texto;
            font-size: 1.25rem;
            text-align: center;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }

        a {
            @include boton-principal;
            margin-top: 20px;
        }
    }
}

// servicios
.servicios {
    @include fondo(
        '../assets/img/background-servicios.jpg',
        center 65%, 
        cover, 
        fixed 
    );
    margin-top: 80px;
}

section {
    @include flex-center();
    flex-direction: column;
    padding: 80px 0 0;

    h2 {
        font-size: 2.5rem;
        color: $color-texto;
        font-weight: 800;
        -webkit-text-stroke-width: 0.0625rem;
        -webkit-text-stroke-color: #333;
    }

    .titulo {
        color: $color-texto;
        font-size: 2rem;
    }

    p {
        text-align: center;
    }

    .tarjetas {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin-top: 50px;
        padding: 0 10px;
        justify-content: space-between;

        .tarjeta {
            background: $color-texto;
            padding: 40px 15px;
            list-style: none;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
            margin-bottom: 40px;
            width: calc(100% / 3 - 30px);
            text-align: center;

            img {
                width: 120px;
                height: 120px;
                margin-bottom: 20px;
                border-radius: 100%;
                object-fit: cover;
            }
        }
    }
}

// acerca-de
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-areas: 
        "titulo titulo titulo titulo"
        "titulo titulo titulo titulo"
        "lucia-1 lucia-1 lucia-2 lucia-2"
        "lucia-1 lucia-1 lucia-3 lucia-3"
        "lucia-1 lucia-1 lucia-4 lucia-4"
        "lucia-1 lucia-1 lucia-5 lucia-5"
        "sofia-2 sofia-2 sofia-1 sofia-1"
        "sofia-3 sofia-3 sofia-1 sofia-1"
        "sofia-4 sofia-4 sofia-1 sofia-1"
        "sofia-5 sofia-5 sofia-1 sofia-1";
    width: 100%;
    background-image: linear-gradient(to left top, #808080, #727272, #646464, #565656, #494949);
}

.titulo {
    grid-area: titulo;
    justify-self: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 6rem;
    color: $color-texto;
    font-weight: 800;
    -webkit-text-stroke-width: 0.0625rem;
    -webkit-text-stroke-color: #333;
}

.lucia-1,
.sofia-1 {
    grid-area: lucia-1;
    width: 60%;
    justify-self: center;
    border-radius: 20%;
    transition: 0.4s;
}

.lucia-1:hover,
.sofia-1:hover {
    transform: scale(1.2);
}

.lucia-2 {
    grid-area: lucia-2;
    color: $secondary-color;
    font-size: 2.5rem;
    justify-self: start;
    align-self: end;
    margin-top: 40px;
    margin-bottom: -20px;
}

.lucia-3 {
    grid-area: lucia-3;
    color: $secondary-color;
    justify-self: center;
    font-size: 1.5rem;
}

.lucia-4 {
    grid-area: lucia-4;
    max-width: 400px;
    justify-self: center;
    align-self: start;
    text-align: center;
    margin-top: -40px;
}

.lucia-5 {
    grid-area: lucia-5;
    justify-self: center;
    align-self: start;
    margin-top: -50px;
    background: $color-detalles;
    color: $color-texto;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

.lucia-5:hover {
    background: transparent;
    border: 2px solid $color-detalles;
}

.sofia-1 {
    grid-area: sofia-1;
    width: 60%;
    justify-self: center;
    border-radius: 20%;
    margin-bottom: 20px;
    transition: 0.4s;
}

.sofia-1:hover {
    transform: scale(1.2);
}

.sofia-2 {
    grid-area: sofia-2;
    color: $secondary-color;
    font-size: 2.5rem;
    justify-self: end;
    align-self: end;
    margin-top: 40px;
    margin-bottom: -20px;
}

.sofia-3 {
    grid-area: sofia-3;
    color: $secondary-color;
    justify-self: center;
    font-size: 1.5rem;
}

.sofia-4 {
    grid-area: sofia-4;
    max-width: 400px;
    align-self: start;
    justify-self: center;
    margin-top: -40px;
}

.sofia-5 {
    grid-area: sofia-5;
    justify-self: center;
    align-self: start;
    margin-top: -50px;
    background: $color-detalles;
    color: $color-texto;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

.sofia-5:hover {
    background: transparent;
    border: 2px solid $color-detalles;
}

// comentarios-clientes
.clientes {
    @include fondo(
        "../assets/img/background-clientes.jpg",
        center 65%, 
        cover, 
        fixed 
    );
}

// contacto

.mainContacto {
    @include fondo (
        #ffae73,
        center 65%,
        cover, 
        fixed 
    );

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.contacto form {
    height: 60px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.contacto form input {
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid $secondary-color;
    border-radius: 10px;
}

.contacto form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.0625rem;
    color: $color-texto;
    border: $secondary-color;
    cursor: pointer;
    border-radius: 5px;
    background: #333;
    transition: 0.2s ease;
}

.contacto form button:hover {
    background: $color-principal;
    color: $secondary-color;
    font-weight: 600;
}

.custom-height-700 {
    height: 500px;
}