@media (max-width: 564px) {
    .home .contenido .texto {
        width: 350px;
    }
}

@media (max-width: 564px) {
    .mainContacto .contacto {
        text-align: center;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1rem; 
        }

        .form {
            padding: 5px;

            input[type="email"] {
                height: 40px; 
            }

            button {
                font-size: 1rem;
                padding: 0.5rem 1rem; 
            }
        }
    }
}



// footer
@media (max-width: 574px) {
    .footer-info {
        width: 100%;
    }
}

@media (max-width: 564px) {
    section h2 {
        font-size: 1.5rem;
    }

    section .titulo {
        font-size: 1.25rem;
    }

    section .tarjetas .tarjeta img {
        width: 80px;
        height: 80px;
    }
}

