@media (max-width: 390px) {
    .home .contenido a {
        margin-bottom: 20px;
        padding: 5px 10px;
    }
}

@media (max-width: 390px) {
    .about {
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 390px) {
    .contacto form input {
        margin-bottom: 10px;
    }
    .contacto form button {
        padding: 5px 10px;
        margin-top: 0;
    }
}