@media (max-width: 340px) {
    .home .contenido {
        margin-top: 30px;
        height: 100vh;
        padding-bottom: 20px;
    }
    .home .contenido .texto {
        margin-bottom: 20px;
        font-size: 0.8rem;
    }
}
