@media (max-width: 805px) {
    .lucia-2, .sofia-2 {
        justify-self: start;
    }
    .lucia-3, .sofia-3 {
        justify-self: start;
    }
    .lucia-4, .sofia-4 {
        justify-self: start;
        text-align: start;
        max-width: 300px;
        margin-bottom: 20px;
    }
}
